<!--  Integração de Sistemas  - Gestão de Frotas
Alunos Camoin Pamante e Sónia Pimentel
Este ficheiro contem informação acerca do projeto e Website
-->

{% extends 'base.html' %}

{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre nós</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> Bem vindo à Frota dos Veiculos</p>
                </div>
            </div>
        </header>
{% include 'navbar.html'%}
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    </br>
                    </br>
                    </br>
                   Elementos do Grupo: Camoin Pamante ; Sónia Pimentel

                   Plataforma de e-commerce, com utilizadores, produtos e vendas

                     </br>
                    </br>

                    Tema do projeto: Gestão de frotas (veículos)

                    A deslocação do local de trabalho até casa, ou outra localidade relevante no contexto de trabalho é cada vez mais comum no nosso dia-a-dia. No entanto, por vezes nem todos os funcionários de uma instituição têm a possibilidade de possuir o seu próprio veículo. Este trabalho pretende apresentar o processo pelo qual um funcionário pode fazer o pedido de um veículo fornecido pela sua instituição para se poder deslocar num contexto laboral.


                    </br>
                    </br>
                   Tabelas (Departamento, Veículos, Pedido)
                   Nome do projeto: Frota de veículos
                    Nome App: frota
                    </br>
                    </br>
                    </br>
                </p>

            </div>
        </center>
    </div>
</div>
{% endblock %}