<!--  Integração de Sistemas  - Gestão de Frotas
Alunos Camoin Pamante e Sónia Pimentel
Página que contém a navbar a utilizar no website
-->

 <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home'%}">Frota</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'about'%}">About</a></li>

                         {% if user.is_staff%}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'notificationsadmin' user.username%}">Notificações</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listar</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                <li><a class="dropdown-item" href="{% url 'userList'%}">Utilizadores</a></li>
                                <li><a class="dropdown-item" href="{% url 'veiculoList'%}">Veiculo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdowna" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <li><a class="dropdown-item" href="{% url 'pedidoList'%}">Não confirmados</a></li>
                                    <li><a class="dropdown-item" href="{% url 'pedidorejeitadoList'%}">Confirmados</a></li>



                            </ul>
                        </li>
                         {%endif%}

                    </ul>



                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7
                          7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7
                           7 0 0 0 8 1"/>
                                </svg>
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                      </button>
                              <ul class="dropdown-menu dropdown-menu-dark">
                                  {% if user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{% url 'logout'%}">Sair</a></li>
                                          {% if user.is_staff == False %}
                                        <li><a class="dropdown-item" href="{% url 'notificacao' user.username%}">Notificação</a></li>
                                          {% endif %}
                                   {% else %}
                                        <li><a class="dropdown-item" href="#">Login</a></li>
                                   {% endif %}


                              </ul>
                    </div>
                </div>
            </div>
        </nav>