{% extends 'base.html'%}


{% block content %}
{% include 'head.html'%}
{% include 'navbar.html'%}

  <section class="py-5">

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

<div class="container-fluid">
<form class="d-flex" role="search" action="{% url 'pesquisarVeiculo'%}" method="get">
      <input name="marca" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
<br>


                    <table class="table">
  <thead>
    <tr>
      <th scope="col">Funcionário</th>
      <th scope="col">Mensagem</th>

    </tr>
  </thead>
  <tbody>
  {% for notifica in notificacoes %}
    <tr>

      <td >{{ notifica.funcionario }}</td>
        <td >{{ notifica.mensagem }}</td>

      <td>

         <a class="btn btn-danger btn-sm " href="{% url 'eliminarnotificacao' notifica.pk%}" style="color: white">Eliminar</a>

      </td>

        {% endfor%}
    </tr>
  </tbody>
</table>


                         </div>
                        </div>
                    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><b></b>
{% endblock %}